

body{
    font-family:'HelveticaNeue-Light', 'Calibri Light', Roboto;
    color:rgb(0,0,0);
    font-size:18px;
}

.StyledButton{
    border:0;
    color:rgb(255,255,255);
    background-color:#F36B08;
    padding-top:10px;
    padding-bottom:10px;
    width:70px;
    cursor:pointer;
}

.Middle {
    margin-left: auto;
    margin-right: auto;
}

.Dialog {
    border-width: 2px;
    border-style: solid;
    border-color: #F36B08;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,1);
    overflow:hidden;
    background-color:rgba(255,255,255,0.4)
}

    .Dialog .Title {
        background-color: #F36B08;
        padding-left: 10px;
        height: 40px;
        line-height: 40px;
        font-weight: bold;
        color: rgb(255,255,255);
    }

.TopBanner {
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    padding-right:5px;
    color: white;
    font-size: 22px;
    background-color: #F36B08;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;

    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;        
   
}

img.invert {
    filter: invert(100%);
}


.Accessory {
    width: 600px;
    margin-top:10px;
    margin-left: auto;
    margin-right:auto;
    height: 90px;
    padding-left: 5px;
    color: rgb(255,255,255);
    font-size: 16px;
    background-color: #F36B08;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom:10px;
    border-width:1px;
    border-color:rgb(0,0,0);
    border-style:solid;
    padding:10px;
    animation-delay:0.3s;
  


    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);

    
}
table{
    color:rgb(0,0,0)
}


.config{
    width: 200px;
}

.SideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    color: rgb(255,255,255);
    background-color: #F36B08;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    border-color: rgb(0,0,0);
    border-style: solid;
    border-width: 1px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  }



